.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Halbtransparenter, dunkler Hintergrund */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal-Inhalt */
.modal {
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #000000; /* Für Kontrast, falls nötig */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fallback-Farbe */
}

.modal img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain; /* Verhindert Verzerrungen */
}